# Python
__pycache__/
*.py[cod]
*$py.class

# Mac
.DS_Store

# Virtual Environment
venv/
env/
.venv/

# Environment Variables
.env

# Project Specific
chart_image/
data/*
!data/.gitkeep
temp.csv
agent_private.py